<app-filter
  [all]="totalCount"
  [inStock]="totalProductInStock"
  [outOfStock]="totalOutOfStock"
  (selectedFilterRadioButtonChanged)="onFilterChange($event)"
></app-filter>


<div class="restraurant-list">
  <div *ngFor="let prod of products" >
    <app-product [product]="prod" *ngIf=" searchTextDiff=== '' || prod.name.toLowerCase().includes(searchTextDiff)"></app-product>
  </div>
  <!-- <app-product *ngFor="let prod of products" [product]="prod"></app-product> -->
</div>





<!--<div class="restraurant-list">
  <div *ngFor="let prod of products" >
    <app-product [product]="prod" *ngIf="selectedFilterRadioButton === 'all' || prod.is_in_inventory.toString() === selectedFilterRadioButton"></app-product>
  </div>
</div>
-->
